<div class="table-container">
    <table>
        <tr>
            <th>USER ID</th>
            <th>ID</th>
            <th>TITLE</th>
            <th>COMPLETED</th>
        </tr>
        <tr *ngFor="let data of paginatedData">
            <td>{{data.userId}}</td>
            <td>{{data.id}}</td>
            <td>{{data.title}}</td>
            <td [style.color]="data.completed | completedStatus">{{data.completed}}</td>
        </tr>
    </table>
    <div class="button-container">
        <button (click)="previousPage()">Previous</button>
        <button (click)="nextPage()">Next</button>
    </div>
</div>